.elementor-104 .elementor-element.elementor-element-2429b8c0 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --padding-top: 3%;
    --padding-bottom: 0%;
    --padding-left: 15%;
    --padding-right: 15%;
}

.elementor-104 .elementor-element.elementor-element-2429b8c0:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-2429b8c0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-104 .elementor-element.elementor-element-d48fee4 {
    text-align: center;
}

.elementor-104 .elementor-element.elementor-element-d48fee4 .elementor-heading-title {
    font-family: "Domine", Sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: 2.55px;
    color: var( --e-global-color-accent);
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-104 .elementor-element.elementor-element-7d32b09b {
    text-align: center;
    font-family: "Work Sans", Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 33px;
    color: #FFFFFF;
}

.elementor-widget-form .elementor-field-group>label,
.elementor-widget-form .elementor-field-subgroup label {
    color: var( --e-global-color-text);
}

.elementor-widget-form .elementor-field-group>label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-type-html {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-field-group .elementor-field {
    color: var( --e-global-color-text);
}

.elementor-widget-form .elementor-field-group .elementor-field,
.elementor-widget-form .elementor-field-subgroup label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-form .e-form__buttons__wrapper__button-next {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .elementor-button[type="submit"] {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .e-form__buttons__wrapper__button-previous {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-form .elementor-message {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-form .e-form__indicators__indicator,
.elementor-widget-form .e-form__indicators__indicator__label {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-form {
    --e-form-steps-indicator-inactive-primary-color: var( --e-global-color-text);
    --e-form-steps-indicator-active-primary-color: var( --e-global-color-accent);
    --e-form-steps-indicator-completed-primary-color: var( --e-global-color-accent);
    --e-form-steps-indicator-progress-color: var( --e-global-color-accent);
    --e-form-steps-indicator-progress-background-color: var( --e-global-color-text);
    --e-form-steps-indicator-progress-meter-color: var( --e-global-color-text);
}

.elementor-widget-form .e-form__indicators__indicator__progress__meter {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group {
    padding-right: calc( 26px/2);
    padding-left: calc( 26px/2);
    margin-bottom: 24px;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-form-fields-wrapper {
    margin-left: calc( -26px/2);
    margin-right: calc( -26px/2);
    margin-bottom: -24px;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 12px;
}

body:not(.rtl) .elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 12px;
}

body .elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 12px;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group>label,
.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-subgroup label {
    color: var( --e-global-color-accent);
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-mark-required .elementor-field-label:after {
    color: #000000;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group>label {
    font-family: "Work Sans", Sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group .elementor-field {
    color: #000000;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group .elementor-field,
.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-subgroup label {
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FFFFFF;
    border-color: #B0B6B6;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FFFFFF;
    border-color: #B0B6B6;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-field-group .elementor-select-wrapper::before {
    color: #B0B6B6;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-button {
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 2.92px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .e-form__buttons__wrapper__button-next {
    background-color: var( --e-global-color-accent);
    color: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-button[type="submit"] {
    background-color: var( --e-global-color-accent);
    color: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-button[type="submit"] svg * {
    fill: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .e-form__buttons__wrapper__button-next:hover {
    background-color: #000000;
    color: #ffffff;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-button[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-message.elementor-message-success {
    color: #003AF1;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-message.elementor-message-danger {
    color: #FF0000;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 .elementor-message.elementor-help-inline {
    color: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-1964dbf8 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-104 .elementor-element.elementor-element-17372fef {
    --display: flex;
    --min-height: 38vh;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 0%;
    --padding-bottom: 2%;
    --padding-left: 15%;
    --padding-right: 15%;
}

.elementor-104 .elementor-element.elementor-element-17372fef:not(.elementor-motion-effects-element-type-background),
.elementor-104 .elementor-element.elementor-element-17372fef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-104 .elementor-element.elementor-element-278d7ec1 {
    text-align: center;
}

.elementor-104 .elementor-element.elementor-element-278d7ec1 .elementor-heading-title {
    font-family: "Work Sans", Sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 2px;
    color: var( --e-global-color-primary);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-7aad70b.elementor-social-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-7aad70b.elementor-social-icon i {
    color: var( --e-global-color-text);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-7aad70b.elementor-social-icon svg {
    fill: var( --e-global-color-text);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-c97bc5f.elementor-social-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-c97bc5f.elementor-social-icon i {
    color: var( --e-global-color-text);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-c97bc5f.elementor-social-icon svg {
    fill: var( --e-global-color-text);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-01265f6.elementor-social-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-01265f6.elementor-social-icon i {
    color: var( --e-global-color-text);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-repeater-item-01265f6.elementor-social-icon svg {
    fill: var( --e-global-color-text);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 {
    --grid-template-columns: repeat(0, auto);
    text-align: center;
    --icon-size: 20px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-social-icon {
    background-color: rgba(2, 1, 1, 0);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-social-icon i {
    color: #003AF1;
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-social-icon svg {
    fill: #003AF1;
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-social-icon:hover {
    background-color: var( --e-global-color-secondary);
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-social-icon:hover i {
    color: #FFFFFF;
}

.elementor-104 .elementor-element.elementor-element-ff25c59 .elementor-social-icon:hover svg {
    fill: #FFFFFF;
}

.elementor-widget-divider {
    --divider-color: var( --e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var( --e-global-color-secondary);
    border-color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-104 .elementor-element.elementor-element-20a5791 {
    --divider-border-style: solid;
    --divider-color: #003AF1;
    --divider-border-width: 1px;
}

.elementor-104 .elementor-element.elementor-element-20a5791 .elementor-divider-separator {
    width: 90px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-104 .elementor-element.elementor-element-20a5791 .elementor-divider {
    text-align: center;
    padding-block-start: 2px;
    padding-block-end: 2px;
}

.elementor-104 .elementor-element.elementor-element-1ac30410 {
    text-align: center;
    font-family: "Work Sans", Sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0px;
    color: var( --e-global-color-accent);
}

.elementor-104 .elementor-element.elementor-element-1ac30410 a:hover,
.elementor-104 .elementor-element.elementor-element-1ac30410 a:focus {
    color: var( --e-global-color-text);
}

.elementor-104 .elementor-element.elementor-element-70292c3 {
    text-align: center;
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 28px;
    letter-spacing: 0px;
    color: var( --e-global-color-text);
}

.elementor-104 .elementor-element.elementor-element-70292c3 a:hover,
.elementor-104 .elementor-element.elementor-element-70292c3 a:focus {
    color: var( --e-global-color-text);
}

body.elementor-page-104:not(.elementor-motion-effects-element-type-background),
body.elementor-page-104>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #B0B6B6;
}

@media(min-width:768px) {
    .elementor-104 .elementor-element.elementor-element-17372fef {
        --content-width: 1340px;
    }
}

@media(max-width:1024px) {
    .elementor-104 .elementor-element.elementor-element-2429b8c0 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 8%;
        --padding-right: 8%;
    }
    .elementor-widget-heading .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size);
    }
    .elementor-104 .elementor-element.elementor-element-d48fee4 .elementor-heading-title {
        font-size: 32px;
        line-height: 40px;
    }
    .elementor-widget-text-editor {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-104 .elementor-element.elementor-element-7d32b09b {
        font-size: 18px;
        line-height: 29px;
    }
    .elementor-widget-form .elementor-field-group>label {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-field-type-html {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-field-group .elementor-field,
    .elementor-widget-form .elementor-field-subgroup label {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-message {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-104 .elementor-element.elementor-element-17372fef {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 8%;
        --padding-right: 8%;
    }
    .elementor-104 .elementor-element.elementor-element-ff25c59 {
        margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
        --icon-size: 18px;
    }
    .elementor-widget-divider .elementor-divider__text {
        font-size: var( --e-global-typography-secondary-font-size);
    }
}

@media(max-width:767px) {
    .elementor-widget-heading .elementor-heading-title {
        font-size: var( --e-global-typography-primary-font-size);
    }
    .elementor-104 .elementor-element.elementor-element-d48fee4 .elementor-heading-title {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 2px;
    }
    .elementor-widget-text-editor {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-104 .elementor-element.elementor-element-7d32b09b {
        font-size: 16px;
        line-height: 26px;
    }
    .elementor-widget-form .elementor-field-group>label {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-field-type-html {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-field-group .elementor-field,
    .elementor-widget-form .elementor-field-subgroup label {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-widget-form .elementor-message {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-104 .elementor-element.elementor-element-17372fef {
        --min-height: 55vh;
    }
    .elementor-104 .elementor-element.elementor-element-ff25c59 {
        --icon-size: 16px;
    }
    .elementor-widget-divider .elementor-divider__text {
        font-size: var( --e-global-typography-secondary-font-size);
    }
}